* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://images6.alphacoders.com/105/1055763.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}

html {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
